body{
  background-image: url(hatterkocka.png);
  background-color: #ededc1;
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
  color: #443507;
  margin: 10px 10px;

}

#cimkep{
  float:left;
  height: 170px;
  width: auto;

}

h1{
  margin: 40px 0px 100px 175px;
}

p{
  text-align: justify;
}


.jobbra{
  text-align: right;
}

.erdekesseg{
  font-size: 70%;
  padding: 7px;
  font-weight: normal;
  background-color: white;
}

li{
  font-weight:bold;
}
